# On indique à Git d'ignorer tous les fichier d'extension .bak
*.bak

# On indique à Git d'ignorer tous les fichier dont le nom se termine par ~ 
*~

# On indique à Git d'ignorer tous les fichier dont le dossier compilateur/bin
compilateur/bin/

# On indique à Git d'ignorer tous les fichier dont le dossier libs/libMiniproj_RISCV/
libs/libMiniproj_RISCV/

# On indique à Git d'ignorer le script de compilation
wincompile_System_Verilog.bat

# pour macos
.DS_Store

# Pour VSCode
.vscode