# On indique à Git d'ignorer tous les fichier d'extension .bak
*.bak

# On indique à Git d'ignorer tous les fichier dont le nom se termine par ~ 
*~

# On indique à Git d'ignorer tous les fichier dont le nom commence par ~$
~$*

# On indique à Git d'ignorer tous les fichier ModelSim
# windows
winconfig/transcript
winconfig/vsim.wlf
#linux
transcript
vsim.wlf

# On indique à Git d'ignorer tous les fichier dont le dossier compilateur/bin
#compilateur/bin/
#compilateur/bin/parser.exe

# On indique à Git d'ignorer tous les fichier dont le dossier libs/libMiniproj_RISCV/
libs/*

# On indique à Git d'ignorer le script de compilation
wincompile_System_Verilog.bat


# pour macos
.DS_Store

# Pour VSCode
.vscode